{% extends 'base.html.twig' %}
{% block title %}À propos{% endblock %}
{% block body %}
<h1>À propos</h1>
<p>Bienvenue sur notre plateforme ! Ici, vous pouvez découvrir nos événements et participer à ceux qui vous intéressent.</p>
{% endblock %}
