version: '3.9'

services:
  app:
    build: .
    container_name: DBB_webappevent
    restart: always
    ports:
      - "8000:80"   
    volumes:
      - ./:/var/www/html
      - /var/www/html/var/cache
      - /var/www/html/var/log
    environment:
      APP_ENV: dev
      APP_DEBUG: 1
      DATABASE_URL: "mysql://user:password@DBB_webappevent:3306/symfony_test_test?serverVersion=8.0&charset=utf8mb4"
    depends_on:
      - database
  database:
    image: mysql:8.0
    container_name: DBB_webappevent
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Abdullrahman
      MYSQL_DATABASE: symfony_test_test
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3309:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_test
    restart: always
    depends_on:
      - database
    ports:
      - "8082:80"
    environment:
      PMA_HOST: DBB_webappevent
      PMA_PORT: 3306

volumes:
  db_data:
