<footer class="footer" style="font-family: Quicksand;">
    <div class="footer-columns">
        <div class="footer-col">
            <h2>Eventify</h2>
            <p>Découvrez, organisez et participez à tous vos événements facilement !</p>
        </div>
        
        <!--
        <div class="footer-col">
            <h3>Informations</h3>
            <ul>
                <li><a href="{{ path('about') }}">À propos</a></li>
                <li><a href="{{ path('mentions_legales') }}">Mentions légales</a></li>
                <li><a href="{{ path('confidentialite') }}">Confidentialité</a></li>
                <li><a href="{{ path('cgu') }}">CGU</a></li>
            </ul>
        </div>
    -->

        <div class="footer-col">
            <h3>Contactez-nous</h3>
            <p>✉ alkarshi.abdullrahman@gmail.com</p>
            <p> Strasbourg, France</p>
        </div>
    

        <div class="footer-col">
            <p>© 2025 Eventify – Tous droits réservés</p>
        </div>

    </div>
</footer>
