<footer class="footer"
        style="display: flex;
               width: 100%;
               justify-content: space-around;
               flex-direction: row;
               background-color: grey;
">
    <div class="footer-columns"
         style="display: flex;
         flex-direction: row;
">
        <div class="footer-col">
            <h2>Événements+</h2>
            <p>Découvrez, organisez et participez à tous vos événements facilement !</p>
        </div>
        <div class="footer-col" >
            <h3>Navigation</h3>
            <ul style="list-style-type: none; padding-left:10px; padding-right:10px; align-items: center;">
                <li><a style="text-decoration: none;" href="#">Accueil</a></li>
                <li><a style="text-decoration: none;" href="#">Événements</a></li>
                <li><a style="text-decoration: none;" href="#">Catégories</a></li>
                <li><a style="text-decoration: none;" href="#">Mon profil</a></li>
                <li><a style="text-decoration: none;" href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>Informations</h3>
            <ul>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Confidentialité</a></li>
                <li><a href="#">CGU</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h3>Contactez-nous</h3>
            <p style="white-space: nowrap">✉ contact@evenementsplus.com</p>
            <p>📍 Strasbourg, France</p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 Événements+ – Tous droits réservés</p>
    </div>
</footer>

