<!-- HTML -->
<nav class="navbar">
    <img src="{{ asset('Logo.png') }}" height="120px;">
    <div class="logo">Événements+</div>
    <ul class="nav-links">
        <li><a href="{{ path('app_events') }}">Voir tous les événements</a></li>
        <li><a href="{{ path('user_registration') }}">Inscription</a></li>
        <li><a href="#">Connexion</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
