name: CI/CD Symfony Docker → Render

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t symfony-render .

      # Render redéploie automatiquement via GitHub
